<p> heroe-component works! </p>
<ul>
    <li *ngFor="let Heroe of HEROES">
        <div><span>Id:</span><span>{{Heroe.id}}</span></div>
        <div><span>name:</span>
            <span class="data">{{Heroe.name | uppercase}}</span>
            <input name="name1"[(ngModel)]="Heroe.name" placeholder="name of heroe"/>
        </div>
    </li>
</ul>
<table class="table table-striped" style="float:right">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Heroe of HEROES">
            <td>{{Heroe.id}}</td>
            <td>{{Heroe.name}}</td>
        </tr>
    </tbody>
</table>
<div id="myCards">
    <div *ngFor="let Heroe of HEROES" class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/img-heroes/{{Heroe.id}}.png" alt="Image for {{Heroe.name}}">
        <div class="card-body">
            <h5 class="card-title">{{Heroe.name}}</h5>
            <p class="card-text">{{Heroe.description}}.</p>
            <a href="#" class="btn btn-primary">View Details...</a>
        </div>
    </div>
</div>